name: Development Deployment
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
  issues: write
  repository-projects: write
  
jobs:
  build-push:
    name: Build and Push Image
    runs-on: ubuntu-latest

    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v2

      - name: Login to GCR
        uses: docker/login-action@v2
        with:
          registry: asia-southeast2-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.SA_GCR }}

      - id: docker-push-tagged
        name: Tag Docker image and push to Google Artifact Registry
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile
          push: true
          tags: |
            asia-southeast2-docker.pkg.dev/sqe-non-prod/devops/dev/${{ github.event.repository.name }}:${{ github.sha }}

  update-deployment:
      name: Update Deployment Manifests
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v2
          name: checkout to gitops
          with:
            repository: 'patrianugraha/gke-demo-web'
            token: ${{ secrets.GIT_ACCESS_TOKEN }}
            ref: 'main'

        - name: Update Deployment Image Tag
          working-directory: "app-manifests/dev/${{ github.event.repository.name }}"
          run: |
            kustomize edit set image ${{ github.event.repository.name }}=asia-southeast2-docker.pkg.dev/sqe-non-prod/devops/dev/${{ github.event.repository.name }}:${{ github.sha }}

        - name: "Push Updated Image Tag" # [4]
          run: |
            git config --global user.name "patrianugraha"
            git config --global user.email "patria.nugraha@smma.id"
            git commit -am "feat: Update deployment image tag to ${{ github.event.repository.name }}"
            git push            